*{margin: 0;padding: 0;}
a{text-decoration: none;}
kbd{
    border: 1px solid red;
    display:inline-block;/*kbd内联元素不加此句无法添加宽高*/
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    position: relative;
}

kbd > button {
    position: absolute;
    right: 0px;
    bottom:0px;
    display: none;
}

kbd:hover > button {
    display: inline-block;
}

main {
    text-align: center;
}

#mainxxx {
    display: inline-block;/*加上此句后让父类元素居中*/
}

#mainxxx > div:nth-child(2) {
    margin-left: 20px;
}

#mainxxx > div:nth-child(3) {
    margin-left: 1px;
}